{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Post
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/add-post.css' %}">
{% endblock %}

{% block content %}



    <div class="edit-delete edit-photo">
        <h2>Add Post</h2>

        <form action="{% url 'add-post' %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}



            <button class="add-btn" type="submit">Add Post</button>

        </form>


    </div>

{% endblock %}